@require '~vuetify/src/stylus/main.styl'

.v-toolbar__content
  justify-content space-between

// TODO: cek lagi ini pastikan. di ios kiki containernya ga beres
.container
  position relative

.v-toolbar
  box-shadow 0 2px 8px #f0f1f2
